<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TGA</name>
    <description>
        Team 4909's 2018+ Scouting System
    </description>
    <author email="roshanravi10@gmail.com">
        Roshan Ravi
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="com.uniclau.simplefile" spec="https://github.com/uniclau/SimpleFile.git" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="org.team4909.bluetooth" spec="../bluetooth-plugin" />
</widget>
