[Unit]
Description=The Green Alliance
After=bluetooth.service
Requires=bluetooth.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/the-green-alliance/bluetooth-worker/bluetooth-worker.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target