[Unit]
Description=The Green Alliance
After=multi-user.target
 
[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/the-green-alliance/bluetooth-worker/bluetooth-worker.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target